:root{
    --shadow: 0px 7px 15px -5px #434735;
    --lightest: rgb(255, 255, 255);
    --light: rgb(249, 247, 247);
    --ocean-lightest: #bef1fc;
    --ocean-lighter: #a4edfc;
    --ocean-light: #00d4ff;
    --ocean-medium: #2f2fa1;
    --ocean-dark: #090979;
    --ocean-darkest: #020024;
    --gradient: linear-gradient(120deg, var(--ocean-medium) 10%, var(--ocean-light) 20%, var(--ocean-lighter) 30%, var(--ocean-medium) 45%, var(--ocean-dark) 80%, var(--ocean-darkest) 100%);
    --box-gradient: linear-gradient(120deg, var(--ocean-medium) 45%, var(--ocean-dark) 80%, var(--ocean-darkest) 100%);
    
    --font-family: "Helvetica Neue", "Lucida Grande", "Arial", "Verdana", "Tahoma", sans-serif;
}

html, input, textarea {
    font-family: var(--font-family);
}

/*body*/
body {
    background: var(--light);
    margin:0;
    font-size: 18px;
}

.wrapper {
    margin-right: 225px;
    font-size: 0;
}

.title-card {
    background: var(--gradient);
    box-shadow: var(--shadow);
    color: var(--lightest);
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    margin: 20px auto 0 auto;
    width: calc(100% - 40px - 20px);
    border-radius: 10px;
    display: block;
}

.wide-card {
    background: var(--lighest);
    box-shadow: var(--shadow);
    color: var(--ocean-darkest);
    padding: 10px 10px 10px 10px;
    margin: 20px auto 0 auto;
    width: calc(100% - 40px - 20px);
    border-radius: 10px;
    display: block;
    font-size: 18px;
}

.wide-card:last-of-type {
    margin-bottom: 20px;
}

/*all navbar design*/
.navbar {
    height: 100%;
    width: 225px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: var(--gradient);
}

.navbar button {
    background: transparent;
    outline: none;
    border: none;
    display: block;
    text-align: left;
    height: 70px;
    width: 225px;
    cursor: pointer;
    color: var(--lightest);
    font-size: 22px;
}

.navbar a {
    text-decoration: none;
}

.navbar button:hover {
    background: var(--ocean-darkest);
    transition: 0.25s;
}

.navbar button.active {
    background: var(--ocean-darkest);
}

/*icons*/
.navbar svg {
    fill: var(--lightest);
    padding: 15px 15px 15px 10px;
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

/*scroll bar*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px var(--ocean-dark);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--ocean-medium);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--ocean-dark);
}


/*stop text selection*/
.noselect  {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    cursor: default;
}

/*misc*/
.seperator {
    background: var(--gradient);
    box-shadow: var(--shadow);
    padding: 2px 2px 2px 2px;
    margin: 20px auto 0 auto;
    width: calc(100% - 40px - 20px);
    border-radius: 10px;
    display: block;
}

.hidden {
    display: none;
}